*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(37, 37, 37);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input{
    height: 350px;
    width: 300px;
    background: rgb(241, 14, 14);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.input h2{
    margin-bottom: 20px;
    color: white;
}
.input input{
    width: 200px;
    margin-bottom: 10px;
    height: 28px;
    border-radius: 8px;
    text-align: center;
}
.input #btn{
    padding: 8px;
    margin-top: 20px;
    border-radius: 8px;
    font-weight: bold;
    background: white;
    color: rgb(37, 37, 37);
}
.input #btn:hover{
    background: rgb(37, 37, 37);
    color: white;
}
#outputMessage{
    margin-top: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
}